<style>
.price{
  margin-left: .5vw;  
  }

.fav-items {
  font-size: 1.25rem;
  margin-bottom: 0;
  font-weight: 500;
}
.popular-items {
  margin-top: 1vh
}

</style>
<p class="fav-items">Fav Items</p>
<div class="mui-divider"></div>
<div class="popular-items">
  {{#each this}}
  <section class="individual-item">
    <p>
      {{#if quantity}}
      {{quantity}})
      {{/if}}
      {{name}}</p>
    <p>$<span class="item-preview-price">{{formatCurrency price}}</span></p>
  </section>
  {{/each}}
</div>

<!-- food logos

<img src"./public/assets/cheesy" alt="cheesy sandwich"/>
<img src"./public/assets/cherry-tomato" alt="cherry-tomato filled potatoes"/>
<img src"./public/assets/healthy" alt="picture of a healthy meal"/>
<img src"./public/assets/kid-burger" alt="picture of a kid eating a burger"/>
<img src"./public/assets/pizza" alt="pizza, delish!"/>
<img src"./public/assets/stir-fried-tofu" alt="a bowl of stir-fried tofu"/>
<img src"./public/assets/tempura" alt="a nice plate of tempura"/>
-->
