<div class="popular-items">
  {{#each this}}
  <section class="individual-item">
    <p>{{name}}</p>
    <p>{{price}}</p>
  </section>
  {{/each}}
</div>

<!-- food logos
<img src"./Images/cheesy" alt="cheesy sandwich"/>
<img src"./Images/cherry-tomato" alt="cherry-tomato filled potatoes"/>
<img src"./Images/healthy" alt="picture of a healthy meal"/>
<img src"./Images/kid-burger" alt="picture of a kid eating a burger"/>
<img src"./Images/pizza" alt="pizza, delish!"/>
<img src"./Images/stir-fried-tofu" alt="a bowl of stir-fried tofu"/>
<img src"./Images/tempura" alt="a nice plate of tempura"/>

-->
