<style>
.restaurant{
  margin: 1vw;
  background-color: aliceblue;
  padding: 1vw;
  border: solid 1mm #CCDFFC;
  border-radius: 25px;
  flex-wrap: nowrap;
  text-align: center;
  width: 20em;
  }
.restaurant-name{
  font-size: 2em;
}
.image{
  image-rendering: optimizeQuality;
  image-rendering: crisp-edges;
  border-radius: 20%;
}
</style>

<article class='restaurant'>
  <div class="image-container">
  <img class="image" src="/assets/{{imageUrl}}" alt="" width="250" height="200px">
</div>
  <a href="/restaurants/{{id}}"><h2 class="restaurant-name"> {{name}}</h2></a> 
    {{>menu-items-preview menus}}
</article>

<!-- restaurant logos

<img src"./public/assets/bar-and-lounge" alt="bar and lounge restaurant"/>
<img src"./public/assets/chef-hat" alt="chef hat restaurant"/>
<img src"./public/assets/food-truck" alt="food truck"/>
<img src"./public/assets/mexican" alt="Mexican style restaurant"/>
<img src"./public/assets/organic-lorem-ipsum" alt="lorem ipsum's organic restaurant"/>
<img src"./public/assets/restaurant-lorem-ipsum" alt="lorem ipsum restaurant"/>
<img src"./public/assets/smile" alt="Smiley chef's restaurant"/>
<img src"./public/assets/spoon-and-fork" alt="spoon and fork restaurant"/>
<img src"./public/assets/sun-and-moon" alt="sun-and-moon restaurant"/>
-->
