<article class='restaurant'>
  <h2 class="restaurant-name">{{name}}</h2>
    {{>menu-items-preview menu_items}}
</article>

<!-- restaurant logos

<img src"./Images/bar-and-lounge" alt="bar and lounge restaurant"/>
<img src"./Images/chef-hat" alt="chef hat restaurant"/>
<img src"./Images/food-truck" alt="food truck"/>
<img src"./Images/mexican" alt="Mexican style restaurant"/>
<img src"./Images/organic-lorem-ipsum" alt="lorem ipsum's organic restaurant"/>
<img src"./Images/restaurant-lorem-ipsum" alt="lorem ipsum restaurant"/>
<img src"./Images/smile" alt="Smiley chef's restaurant"/>
<img src"./Images/spoon-and-fork" alt="spoon and fork restaurant"/>
<img src"./Images/sun-and-moon" alt="sun-and-moon restaurant"/>
-->