<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>FAV Mates</title>
</head>
<body>
  <div class="wrapper">
  <header>
    <h1>
      <a href="/">FAV Mates</a>
    </h1>
    <nav>
      <p>Login</p>
      <p>Cart</p>
    </nav>
  </header>
  <main>
  {{{body}}}
  </main>
  <footer>
    What should be in the footer?
  </footer>
  </div>
</body>
</html>