
<style>
  <style>
    .footer{
      margin-top: -200em;
    }
    .body_color{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(243,126,33));
    margin-bottom: -3em;
    }
    .mui-container{
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }
    .member{
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: white;
        border-radius: 25px;
        padding: 1em;
        height: 5em;
    }
    .header_about_us{
        align-items: center;
        margin-bottom: .2em;
    }
  </style>
</style>
<body class="body_color">
<header class="body_color"></header>
<div class="mui-container"align="center">
    <h1 class="header_about_us">
    Meet the Team</h1>
</div>
<div class="mui-container"align="center">
    <div><p class="member">Colin is a future web developer currently living in Minneapolis, MN. He still occasionally plays music and makes art when he isn't churning out code.</p></div>
    <div><p class="member">Kyler Mclachlan is GIS analyst with a passion for data science and engineering. Kyler currently works at Polaris as a GIS Analst Serving the Ride Command App/Web Team as well as Dealer Development.</p>
    </div>
    <div><p class="member">Nate is a Business Analyst and Project Manager for ShippersEdge TMS and a future full stack developer with an interest in creating Automation processes. </p></div>
    <div><p class="member">Yasmein Blandit cursus risus at ultrices. Ridiculus mus mauris vitae ultricies.Pellentesque elit ullamcorper dignissim cras tincidunt.Justo laoreet sit amet cursus sit amet dictum.</p></div>
</div>
</body>

<script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>