<section class="order-thank-you">
  <p>The total for your order is ${{grandTotal}}</p>
  <p>Your order will be ready by {{readyTime date}}!</p>
  <p>Expect delivery between {{deliveryEarly date}} and {{deliveryLate date}}</p>
</section>