<style>
.header_title{
  font-size: 2em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.footer{
  margin-top: 20em;
}
.body_color{
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(40, 122, 245));
margin-bottom: -1.7em;
}
.restaurant-list{
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
  </style>
<body class="body_color">
<h1 class="mui--text-center">Restaurants Near You</h1>
    <ul class="restaurant-list">
      {{#each restaurants as |restaurant|}}
      <li>
        {{> restaurant-preview}}
      </li>
      {{/each}}
    </ul>
  </body>